{
    "User": {
        "Client": {
            "Windows": {
                "BrowserMainWindow": {
                    "WindowPosition": "@Point(133 64)",
                    "WindowSize": "@Size(1600 1000)"
                },
                "FriendInvitationsDialog": {
                    "WindowPosition": "@Point(690 288)",
                    "WindowSize": "@Size(540 504)"
                },
                "FriendsPopoutWindow": {
                    "WindowPosition": "@Point(1445 70)",
                    "WindowSize": "@Size(320 1000)"
                },
                "SocialPopoutWindow": {
                    "WindowPosition": "@Point(433 244)",
                    "WindowSize": "@Size(1000 640)"
                }
            },
            "HasSeenFirstTimeExperience": "true",
            "HideOnClose": "false",
            "DisplayExitPrompt": "false",
            "WindowNotificationShown": "true",
            "FriendsListCollapsed": "false",
            "FriendsListMode": "0"
        },
        "Games": {
            "s2": {
                "LastSeenPatchNotesBuild": "92174"
            }
        }
    }
}
